# SPDX-License-Identifier: GPL-2.0-only
#
# arm spe dirver
#
config ARM_SPE
	bool "In-kernel SPE for driver for page access profiling"
	depends on ARM64
	default n
        help
	  Enable support for the ARMv8.2 Statistical Profiling Extension, which
	  provides periodic sampling of operations in the CPU pipeline.
